<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilegsmc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pt.mobilesgmc.Login"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.mobilesgmc.EquipaCirurgica"
            android:label="@string/title_activity_equipa_cirurgica"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan"
             >
        </activity>
        <activity
            android:name="pt.mobilesgmc.UtentesActivity"
            android:label="@string/title_activity_utentes"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan"
            >
        </activity>
        <activity
            android:name="pt.mobilesgmc.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/nLiveoDrawer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
            android:name="pt.mobilesgmc.DadosCirurgia"
            android:label="@string/title_activity_home"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
            android:name="pt.mobilesgmc.DadosINtraOperatorioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dados_intra_operatorio"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="pt.mobilesgmc.ListaProdutosActivity"
            android:label="Lista Materiais"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="pt.mobilesgmc.AparelhosActivity"
            android:label="@string/title_activity_aparelhos"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
            android:name="pt.mobilesgmc.InstrumentalActivity"
            android:label="@string/title_activity_instrumental"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
            android:name="pt.mobilesgmc.MaterialActivity"
            android:label="@string/title_activity_material"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
    </application>

</manifest>